[submodule "gateware/deps/luna"]
	path = gateware/deps/luna
	url = https://github.com/greatscottgadgets/luna.git
[submodule "firmware/deps/tinyusb"]
	path = firmware/deps/tinyusb
	url = https://github.com/hathach/tinyusb.git
	branch = luna_riscv
[submodule "gateware/deps/migen"]
	path = gateware/deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "gateware/deps/litex"]
	path = gateware/deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "gateware/deps/nmigen"]
	path = gateware/deps/nmigen
	url = https://github.com/nmigen/nmigen.git
[submodule "gateware/deps/nmigen-soc"]
	path = gateware/deps/nmigen-soc
	url = https://github.com/nmigen/nmigen-soc.git
[submodule "gateware/deps/python-usb-protocol"]
	path = gateware/deps/python-usb-protocol
	url = https://github.com/usb-tools/python-usb-protocol
[submodule "gateware/deps/pythondata-software-picolibc"]
	path = gateware/deps/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
[submodule "gateware/deps/pythondata-cpu-vexriscv"]
	path = gateware/deps/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "gateware/deps/lambdasoc"]
	path = gateware/deps/lambdasoc
	url = https://github.com/gregdavill/lambdasoc.git
[submodule "gateware/deps/nmigen-stdio"]
	path = gateware/deps/nmigen-stdio
	url = https://github.com/nmigen/nmigen-stdio.git
[submodule "gateware/deps/minerva"]
	path = gateware/deps/minerva
	url = https://github.com/lambdaconcept/minerva.git
[submodule "gateware/deps/pythondata-software-compiler_rt"]
	path = gateware/deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "gateware/deps/litespi"]
	path = gateware/deps/litespi
	url = https://github.com/litex-hub/litespi.git
