[submodule "gateware/deps/luna"]
	path = gateware/deps/luna
	url = https://github.com/greatscottgadgets/luna.git
[submodule "firmware/deps/tinyusb"]
	path = firmware/deps/tinyusb
	url = https://github.com/gregdavill/tinyusb.git
	branch = luna_riscv
